# Remember the selected spools across printer reboots
[save_variables]
filename: ~/printer_data/config/variables.cfg

# main Spool selection macro
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID is defined %}
    {% set id = params.ID|int %}
    {action_call_remote_method("spoolman_set_active_spool", spool_id=id)}
    UPDATE_DELAYED_GCODE ID=SAVE_SELECTED_SPOOLS DURATION=0.01
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}
  UPDATE_DELAYED_GCODE ID=SAVE_SELECTED_SPOOLS DURATION=0.01

[gcode_macro CLEAR_ALL_SPOOLS]
gcode:
  {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}
  {% for tool in ['T0','T1','T2','T3'] %}
    SET_GCODE_VARIABLE MACRO={tool} VARIABLE=spool_id VALUE=\"\"
  {% endfor %}
  UPDATE_DELAYED_GCODE ID=SAVE_SELECTED_SPOOLS DURATION=1

[gcode_macro SAVE_CURRENT_SPOOLS]
gcode:
  UPDATE_DELAYED_GCODE ID=SAVE_SELECTED_SPOOLS DURATION=0.01

# Per tool spool config
[gcode_macro T0]
rename_existing: T0.10001
variable_spool_id: ""
gcode:
  {% set sid = printer["gcode_macro T0"].spool_id %}
  {% if sid %}
    SET_ACTIVE_SPOOL ID={sid}
  {% else %}
    CLEAR_ACTIVE_SPOOL
  {% endif %}
  T0.10001 {rawparams}

[gcode_macro T1]
rename_existing: T1.10001
variable_spool_id: ""
gcode:
  {% set sid = printer["gcode_macro T1"].spool_id %}
  {% if sid %}
    SET_ACTIVE_SPOOL ID={sid}
  {% else %}
    CLEAR_ACTIVE_SPOOL
  {% endif %}
  T1.10001 {rawparams}

[gcode_macro T2]
rename_existing: T2.10001
variable_spool_id: ""
gcode:
  {% set sid = printer["gcode_macro T2"].spool_id %}
  {% if sid %}
    SET_ACTIVE_SPOOL ID={sid}
  {% else %}
    CLEAR_ACTIVE_SPOOL
  {% endif %}
  T2.10001 {rawparams}

[gcode_macro T3]
rename_existing: T3.10001
variable_spool_id: ""
gcode:
  {% set sid = printer["gcode_macro T3"].spool_id %}
  {% if sid %}
    SET_ACTIVE_SPOOL ID={sid}
  {% else %}
    CLEAR_ACTIVE_SPOOL
  {% endif %}
  T3.10001 {rawparams}

[delayed_gcode SAVE_SELECTED_SPOOLS]
gcode:
  {% for tool in ['T0','T1','T2','T3'] %}
    {% set macro = 'gcode_macro ' ~ tool %}
    {% set sid = printer[macro].spool_id|default("") %}
    {% set vname = tool|lower ~ '__spool_id' %}
    {% if sid != "" %}
      #RESPOND PREFIX="🧶" MSG="Saving spool for {vname}: {sid}"
      SAVE_VARIABLE VARIABLE={vname} VALUE="{sid}"
    {% else %}
      #RESPOND PREFIX="🧶" MSG="Clearing spool for {vname}"
      SAVE_VARIABLE VARIABLE={vname} VALUE=\"\"
    {% endif %}
  {% endfor %}

# Apply spected spool during print
[delayed_gcode RESTORE_SELECTED_SPOOLS]
initial_duration: 0.1
gcode:
  {% set svv = printer.save_variables.variables %}
  {% for object in printer %}
    {% if object.startswith('gcode_macro ') and printer[object].spool_id is defined %}
      {% set macro = object.replace('gcode_macro ', '') %}
      {% set var = (macro + '__SPOOL_ID')|lower %}
      {% if svv[var] is defined %}
        SET_GCODE_VARIABLE MACRO={macro} VARIABLE=spool_id VALUE={svv[var]}
      {% endif %}
    {% endif %}
  {% endfor %}
